In [1]:
from datetime import datetime
from glob import glob
from time import time, sleep
import feather
import os
import pandas as pd
import platform
import sys

In [2]:
def start(fname):
    global st_time
    st_time = time()
    print("="*80)
    print("DATE: {}".format(datetime.now()))
    print("FILE: {}".format(fname))
    print("PID: {}".format(os.getpid()))
    print("HOST: {}".format(platform.node()))
    print("ENV: {}".format(platform.platform()))
    print("="*80)

    
def end(fname):
    print("="*80)
    print("ELAPSED (sec): {:.2f}".format(elapsed_time()))
    print("="*80)

    
def elapsed_time():
    return (time() - st_time)


def reset_time():
    global st_time
    st_time = time()

In [3]:
def to_feather(df, path="./"):
    df.reset_index(inplace=True, drop=True)
    os.makedirs(path, exist_ok=True)
    print(f"write to {path}")
    for c in df.columns:
        path_file = os.path.join(path, f"{c}.f")
        if not glob(path_file):
            df[[c]].to_feather(path_file)
        else:
            print(f"WARNIG: {path_file} is exists!")
            sys.exit()

            
def read_feather(path="./", col=None):
    if col is None:
        path_file = os.path.join(path, "*.f")
        print(f"read {path_file}")
        df = pd.concat([ feather.read_dataframe(f) for f in sorted(glob(path_file)) ], axis=1)
    else:
        path_file = os.path.join(path, col)
        if not glob(path_file):
            print(f"read {path_file}")
            df = feather.read_dataframe(path_file)
        else:
            print(f"WARNIG: {path_file} is exists!")
            sys.exit()
    return df

In [4]:
def to_pickles(df, path="./"):
    df.reset_index(inplace=True, drop=True)
    os.makedirs(path, exist_ok=True)
    print(f"write to {path}")
    for c in df.columns:
        path_file = os.path.join(path, f"{c}.f")
        if not glob(path_file):
            df[[c]].to_pickle(path_file)
        else:
            print(f"WARNIG: {path_file} is exists!")
            sys.exit()


def read_pickles(path="./", col=None):
    if col is None:
        path_file = os.path.join(path, "*.f")
        print(f"read {path_file}")
        df = pd.concat([ pd.read_pickle(f) for f in sorted(glob(path_file)) ], axis=1)
    else:
        path_file = os.path.join(path, col)
        if not glob(path_file):
            print(f"read {path_file}")
            df = pd.read_pickle(path_file)
        else:
            print(f"WARNIG: {path_file} is exists!")
            sys.exit()
    return df

In [5]:
start("hoge")
end("hoge")

================================================================================
DATE: 2019-03-29 17:58:26.886260
FILE: hoge
PID: 580
HOST: Y-project-11
ENV: Windows-10-10.0.17134-SP0
================================================================================
================================================================================
ELAPSED (sec): 0.00
================================================================================

In [6]:
df = pd.DataFrame({"a":[1,2,3,4,5], "b":[6,7,8,9,10]})
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [7]:
to_feather(df, "new_folder00")

write to new_folder00

In [8]:
df00 = read_feather("new_folder00")

read new_folder00\*.f

In [9]:
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10

In [10]:
to_pickles(df, "new_folder01")

write to new_folder01

In [11]:
df = read_pickles("new_folder01")

read new_folder01\*.f

In [12]:
df

   a   b
0  1   6
1  2   7
2  3   8
3  4   9
4  5  10